{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "styled-components",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "^@/(.+)": "./src/\\1"
        }
      }
    ]
  ]
}
